/cache
/data/js/programs_10
/data/js/programs_2
/data/js/programs_300
/data/js/programs_5
/data/js/programs_5000
/data/js/programs_all
/data/tokens
*.swp
*~
__pycache__
*.gz
callData*.json
idsWith*.json
litsWith*.json
.idea/*
encoded_tokens*.npy
experiment_*
rb-*.js
*_model_*
calls*.json
context_token*.json
fileIDs.json
idsLits*.json
main_token*.json
poss_anomalies.txt
HyperExp*
