/cache
/data/js/programs_10
/data/js/programs_2
/data/js/programs_300
/data/js/programs_5
/data/js/programs_5000
/data/js/programs_all
*.swp
*~
__pycache__
*.gz
callData*.json
idsWith*.json
litsWith*.json
.idea/*
encoded_tokens*.npy
token_to*.json
experiment_*
rb-*.js
*.json
*_model_*
poss_anomalies.txt
